<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.examples.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>UBankingapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountDetailsServlet</display-name>
    <servlet-name>AccountDetailsServlet</servlet-name>
    <servlet-class>com.examples.AccountDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetailsServlet</servlet-name>
    <url-pattern>/AccountDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit_Servlet</display-name>
    <servlet-name>Deposit_Servlet</servlet-name>
    <servlet-class>com.examples.Deposit_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit_Servlet</servlet-name>
    <url-pattern>/Deposit_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdrawal_Servlet</display-name>
    <servlet-name>Withdrawal_Servlet</servlet-name>
    <servlet-class>com.examples.Withdrawal_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdrawal_Servlet</servlet-name>
    <url-pattern>/Withdrawal_Servlet</url-pattern>
  </servlet-mapping>
</web-app>